body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #000; /* Dark black */
    margin-bottom: 15px;
    font-size: 24px;
}


.description {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
}

.upload-label input {
    display: none;
}

.submit-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #218838;
}

.image-preview {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#previewImage {
    display: none;
    max-width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-box {
    margin-top: 15px;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
}
